@import 'Variables.scss';

.game{
    background-color: aqua;
    height: 100%;
    width: 100%;

    /* .gameWindowWrap{
        width: 100vw;
        height: 100vh;
        background-color: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .gameWindow{
        width: 100%;
        height: 0;
        padding-top: 100%;
        box-sizing: border-box;
        border: 2px solid $black;
        background-color: rgb(72, 198, 18);
    } */
}