@import 'Variables.scss';

.header{
    text-transform: uppercase;
    background-color: $green !important;

    
    .logo{
       /*  position: absolute;
        display: flex;
        justify-self: center;
        //alignSelf: "center";
        left: 20px;
        top: 3vh; */
        margin-right: 22px;

    }

    .headerItem{
        margin-right: 22px;
        margin-left: 22px;
        transition: 0.3s;
        :hover{
            color: $linkHover;
        }
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdownContent{
        text-transform: capitalize;
        display: none;
        position: absolute;
        min-width: 120px;
        z-index: 1;
        margin-top: unset;
        background-color: $green;
        background-color: white;
        .menuItem{
            color: black;
            padding: 12px;
            text-decoration: none;
            display: block;
        }
    }
    
    
    .dropdown:hover .dropdownContent {
        display: block;
    }
    .active{
        p{
            color: $linkHover;
        }
    }
    
}