@import 'Variables.scss';

.header{
    justify-content: space-between;
    text-transform: uppercase;
    background-color: $green !important;
    height: $headerHeight;
    .logo{
       /*  position: absolute;
        display: flex;
        justify-self: center;
        //alignSelf: "center";
        left: 20px;
        top: 3vh; */
        margin-right: 22px;

    }

    .headerItems{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .headerItem{
        margin-right: 22px;
        margin-left: 22px;
        transition: 0.3s;
        :hover{
            color: $linkHover;
        }
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }
    .dropdownContent{
        text-transform: capitalize;
        display: none;
        position: absolute;
        min-width: 120px;
        z-index: 1;
        margin-top: unset;
        background-color: $green;
        background-color: white;
        .menuItem{
            color: black;
            padding: 12px;
            text-decoration: none;
            display: block;
        }
    }
    
    
    
    .dropdown:hover .dropdownContent {
        display: block;
    }
    .active{
        p{
            color: $linkHover;
        }
    }
    .nav-btn{
        display: none;
        flex-direction: column;
        gap: 4px;
        .bar{
            width: 20px;
            height: 3px;
            background-color: white;
        }

    }
    .nav-close-btn{
        position: absolute;
		top: 15px;
		right: 10px;
    }
    
    
    .mobileNav{
        display: none;
    }
}    
    @media only screen and (max-width:999px) {
        .header{
            height: unset;
            .nav-btn{
                display: flex;
                &.active{
                    .bar{
                        transition: 0.3s;
                        &.bar1{
                            transform: translateY(4px) rotateZ(45deg);
                        }
                        &.bar2{
                            display: none;
                        }
                        &.bar3{
                            transform: translateY(-4px) rotateZ(-45deg);
                        }
                    }
                }
                
            }
            .headerItem{
                display: none;
            }
        }
        .responsive_nav{
            display: flex;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            transition: 1s;
            &.mobileNav{
                display: block;
            }
        }
        
        
        
        
    }

