@import 'Variables.scss';

#profile{
    width: 100%;
    color: $white;
    .profileWrapper{
        padding: 20px;
    }
    .userSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;

        .user{
            font-size: $h3;
        }
    }
    .followPopUpSection{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .followSection{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        a{
            text-decoration: none;
            color: $black;
            width: 100%;
            :hover{
                background-color: $darkBlue;
                color: $white;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .followSection{
            grid-template-columns: 1fr;
        }
        
    }
}

//POP UP
.popup{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: 2px solid $black;
    box-shadow: 20px;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    text-align: center;
    height: 50%;
    overflow-y:auto;
}

.modalLink{
    text-decoration: none;
    color: $black;
    text-align: center;
    padding: 5px;
    :hover{
        background-color: $darkBlue;
        color: $white;
    }
}