td.FloodCell {
    border: none;
    padding: 1rem;
    padding: 20px; 
    /*2vw*/
}

table.FloodBoard {
    border: 1px solid black;
/*     width: min-content;
 */}

@media only screen and (max-width: 1300px) {
    td.FloodCell {
        padding: 16px;

    }
}
@media only screen and (max-width: 500px) {
    td.FloodCell {
        padding: 14px;

    }
}
@media only screen and (max-width: 400px) {
    td.FloodCell {
        padding: 12px;

    }
}
