.Solved {
    animation: SolvedCellAnimation 2s infinite;
}

@keyframes SolvedCellAnimation {
    0%      {background-color: #90ee90;}
    50%     {background-color: #70cc70;}
    100%    {background-color: #90ee90;}
}

td.Cell {
    /* width: min-content;
    height: min-content; */
    border: 1px solid black;
}

table.Board {
    width: min-content;
    user-select: none;
    /* height: 50vw; */
}

th.HintCell {
    border: 1px solid black;
    border-top: none;
    vertical-align: bottom;
    text-align: center;
    white-space: wrap;
}

td.HintCell {
    border: 1px solid black;
    border-left: none;
    text-align: end;
    white-space: nowrap;
}

th.EmptyCell {
    border: none;
}

.WhiteCell {
    background-color: #ddd;
}

.BlackCell {
    background-color: #222;
}

table{
    box-sizing: border-box;
    border: 1px solid black
}

@media only screen and (max-width: 700px) {
    .nonogram td, .nonogram th{
        padding: 8px;
    }
}