.Solved {
    background-color: lightgreen;
}

:root {
    --width: 1.25vw;
    --height: 1.25vw;
}

td.Cell {
    width: var(--width);
    height: var(--height);
    border: 1px solid black;
}

table.Board {
    width: min-content;
    user-select: none;
    /* height: 50vw; */
}

th.HintCell {
    height: var(--height);
    border: 1px solid black;
    border-top: none;
    vertical-align: bottom;
    text-align: center;
    white-space: wrap;
}

td.HintCell {
    width: var(--width);
    border: 1px solid black;
    border-left: none;
    text-align: end;
    white-space: nowrap;
}

th.EmptyCell {
    border: none;
}

.WhiteCell {
    background-color: #ddd;
}

.BlackCell {
    background-color: #222;
}